
  <div id="navbar-scroll">
    <div id="home">
      <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top pl-lg-5 pr-lg-5">
        <button class="navbar-toggler navbar -toggler-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand ml-5" href="#">
          <img src="assets/images/logo.png" height="25" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#statistics">About us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
</div>
<!-- Header Carousel -->
<app-contact-header></app-contact-header>