<div class="row aboutus">
  <div class="col-md-10 col-lg-8 mx-auto">
    <div class="row">
      <h2> Our team </h2>
    </div>
    <div class="row ourteam">
      <div class="col-md-6 col-xl-3">
        <img src="./assets/images/aboutus/NatalyDoe.png" />
        <p> Nataly Doe </p>
        <hr />
        <p> Designer </p>
      </div>
      <div class="col-md-6 col-xl-3">
        <img src="./assets/images/aboutus/AlexDoe.png" />
        <p> Alex Doe </p>
        <hr />
        <p> Designer </p>
      </div>
      <div class="col-md-6 col-xl-3">
        <img src="./assets/images/aboutus/AliceSimpson.png" />
        <p> Alice Simpson </p>
        <hr />
        <p> Cleaner </p>
      </div>
      <div class="col-md-6 col-xl-3">
        <img src="./assets/images/aboutus/HarryPotter.png" />
        <p> Harry Potter </p>
        <hr />
        <p> Developer </p>
      </div>
    </div>
    <div class="row">
      <div class="col mx-auto">
        <h3> DarkLime Team knows that effective communication is a key to Success! </h3>
      </div>
    </div>
    <div class="row companystory">
      <div class="col mx-auto">
        <div class="row">
          <div class="col-lg-6 storyitem">
            <p>
              <img src="./assets/images/aboutus/questions.png" />
            </p>
            <p>We have prepared <a href=""> How it works</a> for you to know what we need to start the project.</p>
          </div>
          <div class="col-lg-6 storyitem">
            <p>
              <img src="./assets/images/aboutus/customer-service.png" />
            </p>
            <p>We use Facebook, Skype, Viber, Whatsapp, Telegram, so you could choose the most suitable channel of communication.</p>
          </div>
          <div class="col-lg-6 storyitem">
            <p>
              <img src="./assets/images/aboutus/chat.png" />
            </p>
            <p>We ready to answer the questions, we understand that it is difficult to find a right designer and to formulate
              a task, so Ask!</p>
          </div>
          <div class="col-lg-6 storyitem">
            <p>
              <img src="./assets/images/aboutus/idea.png" />
            </p>
            <p>We creative and experienced, so get ready for Wow!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row ourclients">
  <div class="col my-auto">
    <img src="./assets/images/clients/wake.png" />
    <img src="./assets/images/clients/marcos.png" />
    <img src="./assets/images/clients/ameri.png" />
    <img src="./assets/images/clients/inflo.png" />
    <img src="./assets/images/clients/kajamba.png" />
    <img src="./assets/images/clients/addinol.png" />
    <img src="./assets/images/clients/mcd.png" />
  </div>
</div>