<div class="row statistics" id="statistics">
  <div class="col-sm-4 col-md-2">
    <p class="st_icon">
      <img src="./assets/images/icons/experience.png" />
    </p>
    <p class="st_number">
      10
    </p>
    <hr />
    <p class="st_discription">
      Years of experience
    </p>
  </div>
  <div class="col-sm-4 col-md-2">
    <p class="st_icon">
      <img src="./assets/images/icons/client.png" />
    </p>
    <p class="st_number">
      263
    </p>
    <hr />
    <p class="st_discription">
      Satisfied clients
    </p>
  </div>
  <div class="col-sm-4 col-md-2">
    <p class="st_icon">
      <img src="./assets/images/icons/lime.png" />
    </p>
    <p class="st_number">
      958
    </p>
    <hr />
    <p class="st_discription">
      Eaten limes
    </p>
  </div>
  <div class="col-sm-4 col-md-2">
    <p class="st_icon">
      <img src="./assets/images/icons/GB.png" />
    </p>
    <p class="st_number">
      867
    </p>
    <hr />
    <p class="st_discription">
      GB of layouts
    </p>
  </div>
  <div class="col-sm-4 col-md-2">
    <p class="st_icon">
      <img src="./assets/images/icons/idea.png" />
    </p>
    <p class="st_number">
      901
    </p>
    <hr />
    <p class="st_discription">
      Creative ideas
    </p>
  </div>
  <div class="col-sm-4 col-md-2">
    <p class="st_icon">
      <img src="./assets/images/icons/monitors.png" />
    </p>
    <p class="st_number">
      8
    </p>
    <hr />
    <p class="st_discription">
      Broken monitors
    </p>
  </div>
</div>